/* ======== type writing animation ======== */
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid black;
  white-space: nowrap;
  width: 0;
  animation: typing 7s steps(24) 1s infinite, blinkCursor 0.4s step-end infinite;
  cursor: pointer;
}

@keyframes typing {
  0% {width: 0;}
  30% {width: 100%;} 
  60% {width: 100%;} 
  90% {width: 0;} 
  100% {width: 0;} 
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}
/* ======== end ======== */